<html>
        <head>
            <link rel="stylesheet" type="text/css" href="/main.css">
        </head>
        <body>
            <header>
                 <h3>Current Weather</h3>
            </header>
            <div>
              Current location:  {{ location }} <br/>
              Current temperature:  {{ temp }}
              <h1>{{ error }}</h1>
            </div>
        </body>
    </html>